footer {
  background: linear-gradient(180deg, #f7f7f7 0%, #f0f0f0 100%);
  margin-top: 44px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.25rem;
  grid-column: span 12;
  padding: 14px 8px;

  @media screen and (min-width: 560px) {
    padding: 20px 12px;
  }

  > div {
    grid-column: span 12;
    max-width: 100%;

    @media screen and (min-width: 768px) {
      grid-column: 3/11;
    }

    @media screen and (min-width: 1280px) {
      grid-column: 4/10;
    }
  }

  p,
  a,
  a:link,
  a:visited {
    font-size: 0.8rem;
    color: #666;
    line-height: 1.4;
  }

  a {
    font-weight: 400;
  }
}
