h1 {
  font-size: 3rem;
  margin-bottom: 8px;
  margin-top: 16px;

  small {
    display: block;
    font-size: 1.25rem;
    color: #424242;
  }
}

h2 {
  font-size: 3.25rem;
  letter-spacing: -0.1rem;
  margin-left: -4px;

  &::after {
    display: block;
    content: '';
    width: 22.5%;
    max-width: 130px;
    height: 2px;
    background: linear-gradient(135deg, #ffa361 0%, #638de0 100%);
    position: relative;
    top: 12px;
    left: 4px;
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-media-obj {
  flex: 0 0 auto;
  padding: 8px;
  max-width: calc(100% - 16px);
  flex-basis: 100%;
  text-align: center;

  @media screen and (min-width: 560px) {
    max-width: 136px;
    flex-basis: 120px;
  }
}

.flex-fill {
  flex: 0 0 auto;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;

  @media screen and (min-width: 560px) {
    text-align: left;
    padding-left: 1.25vw;
  }

  a:not(:first-of-type) {
    padding-left: 4px;
  }
}

.profile-picture {
  width: 120px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
