main > section:first-child {
  // Add some additional spacing below the section.
  padding-block-end: var(--layout-row-spacing);

  > div {
    // Make the introduction section a flex container.
    display: flex;
    flex-wrap: wrap;
    // Add spacing between image and text.
    column-gap: var(--spacing-12);

    // Adjust the layout based on user font size choice.
    @media (max-width: 30rem) {
      // If the viewport isn't wide enough, center the content.
      justify-content: center;
      // Add spacing between image and text.
      row-gap: var(--spacing-8);
    }

    > div {
      // Make the text container a flex container.
      display: flex;
      flex-direction: column;
      // Add spacing between children.
      gap: var(--spacing-8);

      > div {
        // Make the social links a flex container.
        display: flex;
        // Add spacing between social links.
        gap: var(--spacing-6);

        // Adjust the layout based on user font size choice.
        @media (max-width: 30rem) {
          // If the viewport isn't wide enough, center the content.
          justify-content: center;
        }
      }
    }
  }

  img {
    // Set the size of the profile picture.
    width: 120px;
    height: 120px;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-medium);
  }

  h1 {
    > small {
      // Set up the icon next to the text.
      display: flex;
      align-items: center;
      // Add spacing between the icon and the text.
      gap: var(--spacing-2);
      // Add a small text below the heading.
      font-size: var(--font-sm);
      color: var(--color-text-lighter);
      font-weight: var(--font-weight-medium);
      // Add spacing between the heading and the small text.
      margin-block-start: var(--spacing-4);

      // Adjust the layout based on user font size choice.
      @media (max-width: 30rem) {
        // If the viewport isn't wide enough, center the content.
        justify-content: center;
      }
    }
  }

  a {
    // Remove underline from social links.
    --link_color-underline: transparent;
    // Apply a transition on hover.
    transition: color var(--animation-duration-medium) ease;

    @media (hover: hover) {
      &:is(:hover, :focus) {
        // Only apply hover styles on devices that support hover.
        color: var(--color-primary);
      }
    }
  }
}

// Wave effect 👋
.wave {
  // Change cursor and display as `inline-block` to allow for a transform.
  cursor: default;
  display: inline-block;
  // Set the correct `transform-origin` for the wave animation.
  transform-origin: 75% 80%;

  // Performance optimization - hint to use the GPU.
  will-change: transform;

  @media (hover: hover) and (prefers-reduced-motion: no-preference) {
    // Only apply the wave animation on devices that support hover and
    // for users that have not requested reduced motion.
    &:is(:hover, :focus) {
      animation: wave var(--animation-duration-long) infinite alternate ease-in-out;
    }
  }
}

// Set up the wave animation for the footer's wave emoji.
@keyframes wave {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(15deg);
  }
}
