---
const copyright = {
  start: 2017,
  end: new Date().getFullYear()
};
---

<footer class="col-full container">
  <p>Powered by
    <a
      href='https://www.netlify.com/'
      rel='noopener noreferrer nofollow'
      target='_blank'>Netlify</a
    >{', '}
    <a
      href='https://astro.build/'
      rel='noopener noreferrer nofollow'
      target='_blank'>Astro</a
    >{' & '}
    <a
      href='https://github.com/'
      rel='noopener noreferrer nofollow'
      target='_blank'>GitHub</a
    >
    <br/>
    &copy; {copyright.start}-{copyright.end} Angelos Chalaris. All rights reserved.</p>
</footer>
