---
const copyright = {
  start: 2017,
  end: new Date().getFullYear()
};
---

<footer class="col-full container">
  <div>
    <p>Designed and developed by Angelos Chalaris &copy; {copyright.start} - {copyright.end}<br/>
      Photo by <a href="https://unsplash.com/photos/OQr38nR9DDs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel="noopener noreferrer" target="_blank">Sander Crombach</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel="noopener noreferrer" target="_blank">Unsplash</a><br/>
      Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" rel="noopener noreferrer" target="_blank">Dave Gandy</a> and <a href="https://www.freepik.com/" rel="noopener noreferrer" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>, as well as <a href="https://twitter.com/colebemis" rel="noopener noreferrer" target="_blank">Cole Blemis</a> from <a href="https://feathericons.com/" rel="noopener noreferrer" target="_blank">Feather</a>
    </p>
  </div>
</footer>
