/* Import font, set defaults */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
/* palette url: http://paletton.com/#uid=73e0w0kw0LvjNPepHMYK7zNJhps */

html {
  font-size: 16px;
  scroll-behavior: smooth;
  color: #000;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html,
* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

* {
  font-size: 1rem;
  font-weight: 300;
}

a:link {
  color: #1556d6;
}

a:visited {
  color: #0943b4;
}

a,
a:link,
a:visited {
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

section p,
section li {
  line-height: 1.35;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
}
