---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#07071c">
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="apple-touch-icon" href="/logo-192.png">
    <title>Angelos Chalaris - Full Stack Engineer</title>
    <meta name="description" content="Angelos Chalaris (chalarangelo) is a web developer from Greece.">
    <meta name="author" content="Angelos Chalaris (chalarangelo)">
    <meta property="og:title" content="Angelos Chalaris (chalarangelo)">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Angelos Chalaris (chalarangelo) is a web developer from Greece.">
    <meta property="og:image" content="https://avatars2.githubusercontent.com/u/8281875?v=4">
    <link rel='stylesheet' href='/print.css' media='print' />
  </head>
  <body>
    <Header/>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

